/* screen - x320 */

.x320 {
  align-items: flex-start;
  display: flex;
  height: 12546.65px;
  min-width: 320px;
}

.x320 .x320-1 {
  align-items: flex-start;
  display: flex;
  height: 12547px;
  width: 320px;
}

.x320 .campus-lands-landing-2024-desktop {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  display: flex;
  flex-direction: column;
  min-height: 1200px;
  position: relative;
  width: 320px;
}

.x320 .container-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  max-width: 1920px;
  padding: 26px 20px;
  position: relative;
  width: 100%;
}

.x320 .link-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.x320 .logo_-campu-l_b-1 {
  height: 28px;
  object-fit: cover;
  position: relative;
  width: 119px;
}

.x320 .container-3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.x320 .group-54 {
  background-color: #d4eef2;
  border-radius: 10px;
  height: 34.09px;
  margin-left: -1.00px;
  position: relative;
  width: 32px;
  z-index: 0;
}

.x320 .group-55 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  left: 6px;
  min-height: 15px;
  position: relative;
  top: 10px;
  width: 22px;
}

.x320 .rectangle-11 {
  background-color: var(--gumbo);
  border-radius: 10px;
  height: 3px;
  width: 22px;
}

.x320 .rectangle-1 {
  background-color: var(--gumbo);
  border-radius: 10px;
  height: 3px;
  margin-left: 0;
  width: 22px;
}

.x320 .link-2 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: space-around;
  margin-right: -1.00px;
  position: relative;
  width: 95px;
  z-index: -1;
}

.x320 .da-ads-1 {
  color: var(--elevate-templateframerwebsitetwilight-blue);
  font-family: var(--font-family-roboto);
  font-size: 14px;
  font-weight: 500;
}

.x320 .frame-15 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.x320 .background {
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  gap: 30px;
  padding: 30px 25px;
}

.x320 .container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .container-4 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  justify-content: center;
  max-width: 2018px;
  padding: 10px 0px;
  position: relative;
}

.x320 .container-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .heading-1 {
  justify-content: center;
}

.x320 .convierte-tus-ideas {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: 47px;
  font-weight: 800;
  letter-spacing: -2.00px;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .span0-1 {
  color: var(--shark);
  letter-spacing: -0.94px;
}

.x320 .span1-1 {
  color: var(--purple-heart);
  letter-spacing: -0.94px;
}

.x320 .campus-lands-es-la-pu {
  align-self: stretch;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .container-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.x320 .da-ads-2 {
  margin-top: -1.00px;
}

.x320 .container-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .overlay-shadow {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  border-radius: 40px;
  box-shadow: 0px 20px 84px -1.75px #2459ed21 , 0px 6.38px 26.81px -1.31px #2459ed17 , 0px 2.41px 10.14px -0.88px #2459ed14 , 0px 0.8px 3.34px -0.44px #2459ed12;
  display: flex;
  flex-direction: column;
  height: 227px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.x320 .x6zzldyo-w-pmd-g-ga-vo-cwqrx6-qdbywjpg {
  background-image: url(../img/6zzldyowpmdggavocwqrx6qdbyw-jpg-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
  flex: 1;
  flex-grow: 1;
  margin-left: -90.00px;
  margin-right: -90.00px;
  position: relative;
  width: 450px;
}

.x320 .border {
  border: 1px solid;
  border-color: var(--elevate-templateframerwebsiteroyal-blue-10);
  border-radius: 40px;
  height: 1px;
  margin-left: -125.00px;
  margin-right: -125.00px;
  position: relative;
  width: 520px;
}

.x320 .frame-70 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .frame-5 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 124.31px;
}

.x320 .frame-9 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 62px;
  justify-content: center;
  position: relative;
}

.x320 .frame-10 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 188.11px;
}

.x320 .frame-8 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 89.34px;
}

.x320 .frame-7 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 47px;
  justify-content: center;
  position: relative;
}

.x320 .marketplace {
  position: relative;
  width: 178px;
}

.x320 .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.x320 .container1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 100%;
}

.x320 .container-9 {
  align-items: center;
  align-self: stretch;
  border-radius: 40px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x320 .container-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.x320 .tros {
  align-self: stretch;
  letter-spacing: -0.36px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .qu-ofrecemos {
  align-self: stretch;
  letter-spacing: -2.00px;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .container-12 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .convertimos-tus-visi {
  align-self: stretch;
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .container-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  position: relative;
  width: 158px;
}

.x320 .frame-13 {
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 254.97, 254.97) 0%, rgb(240, 253, 255) 100%);
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(206, 211, 255, 0), rgb(205.67, 210.85, 255)) 1;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  margin-left: -20.00px;
  margin-right: -20.00px;
  padding: 20px 0px;
  position: relative;
  width: 320px;
}

.x320 .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/ellipse-1-5.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 26.2px 26px;
}

.x320 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/ellipse-1-6.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 28px 26px;
}

.x320 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/ellipse-1-7.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  margin-top: 6px;
  min-width: 127px;
  padding: 32px 33px;
}

.x320 .overlap-group-3 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/ellipse-1-8.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 32px 33px;
}

.x320 .overlap-group-4 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/ellipse-1-9.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 31px 33.4px;
}

.x320 .frame-30 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 40px 10px;
  position: relative;
  width: 100%;
}

.x320 .full-service {
  align-self: stretch;
  letter-spacing: -2.00px;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .frame-51 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.x320 .frame-13-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--twilight-blue);
  border-radius: 30px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 30px 0px;
  position: relative;
  width: 100%;
}

.x320 .frame-55 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .group-51 {
  flex: 1;
  flex-grow: 1;
  height: 589.56px;
  position: relative;
}

.x320 .overlap-group1-1 {
  height: 590px;
  position: relative;
  width: 300px;
}

.x320 .frame-68 {
  height: 530px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.x320 .overlap-group-5 {
  align-items: flex-end;
  background-image: url(../img/rectangle-6-4.svg);
  background-size: 100% 100%;
  display: flex;
  height: 589px;
  left: 11px;
  min-width: 278px;
  padding: 52.6px 30.4px;
  position: absolute;
  top: 1px;
}

.x320 .entender-el-sueo-de-las-empresas {
  color: var(--elevate-templateframerwebsitewhite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 800;
  height: 70px;
  letter-spacing: -1.00px;
  line-height: 30px;
  width: 217px;
}

.x320 .frame-67 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  width: 274px;
}

.x320 .frame-53 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 349px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.x320 .group-26 {
  flex: 1;
  flex-grow: 1;
  height: 349px;
  margin-right: -2.00px;
  position: relative;
}

.x320 .overlap-group-6 {
  background-image: url(../img/rectangle-7-1@2x.png);
  background-size: 100% 100%;
  height: 349px;
  position: relative;
  width: 274px;
}

.x320 .rectangle-6 {
  height: 349px;
  left: 0;
  position: absolute;
  top: 0;
  width: 274px;
}

.x320 .adquirir-requerimien {
  height: 112px;
  left: 25px;
  letter-spacing: -1.00px;
  line-height: 28px;
  position: absolute;
  top: 200px;
  width: 225px;
}

.x320 .frame-52 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.x320 .group-27 {
  height: 278px;
  margin-right: -1.12px;
  position: relative;
  width: 274.25px;
}

.x320 .overlap-group-7 {
  background-size: 100% 100%;
  height: 278px;
  position: relative;
  width: 272px;
}

.x320 .frame-57 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x320 .frame-14 {
  align-items: center;
  align-self: stretch;
  background-color: var(--purple-heart);
  border-radius: 30px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
  position: relative;
  width: 100%;
}

.x320 .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  padding: 0px 10px;
  position: relative;
  width: 100%;
}

.x320 .capa_1 {
  width: 43.48px;
}

.x320 .flexibilidad-y-exper {
  align-self: stretch;
  letter-spacing: -1.00px;
  line-height: 20px;
  position: relative;
  text-align: center;
}

.x320 .acceso-a-expertos-en {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.x320 .capa_1-1 {
  width: 43px;
}

.x320 .expertos-en-transfor {
  align-self: stretch;
  letter-spacing: -1.00px;
  line-height: 20px;
  position: relative;
  text-align: center;
}

.x320 .anlisis-profundo-de {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.3px;
  position: relative;
}

.x320 .equipos-dedicados-pa {
  align-self: stretch;
  letter-spacing: -1.00px;
  line-height: 20px;
  position: relative;
  text-align: center;
}

.x320 .equipo-adaptado-a-tu {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.x320 .capa_1-2 {
  width: 43.48px;
}

.x320 .plataformas-escalabl {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.x320 .anlisis-detallado-d {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.x320 .link-5 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
  width: 254px;
}

.x320 .frame-41 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 30px 15px;
  position: relative;
  width: 100%;
}

.x320 .frame-40 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.x320 .desarrollos-propios-1 {
  align-self: stretch;
  letter-spacing: -2.24px;
  line-height: 40px;
  position: relative;
  text-align: center;
}

.x320 .frame-52-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .frame-4 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  border: 4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(232, 232, 232)) 1;
  border-radius: 40px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  position: relative;
  width: 100%;
}

.x320 .marketplace-1 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 240px;
}

.x320 .solucin-tecnolgica {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
}

.x320 .ventajas-y-caracter {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.x320 .container-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-left: -16.50px;
  position: relative;
}

.x320 .svg-1 {
  margin-right: -16.50px;
}

.x320 .group-9 {
  align-items: flex-start;
  display: flex;
  min-width: 242px;
}

.x320 .e-commerce-1 {
  height: 18px;
  letter-spacing: -0.48px;
  line-height: 18px;
  text-align: center;
  width: 240px;
}

.x320 .container-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -16.50px;
  position: relative;
}

.x320 .container-16 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x320 .svg-2 {
  margin-right: -16.50px;
}

.x320 .group-12 {
  background-image: url(../img/taskman2-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 48px;
  position: relative;
  width: 198px;
}

.x320 .container-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x320 .svg-3 {
  margin-right: -16.50px;
}

.x320 .frame-61 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
  position: relative;
  width: 100%;
}

.x320 .la-experiencia-habla-por-nosotros {
  align-self: stretch;
  color: var(--purple-heart);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .testimonios {
  align-self: stretch;
  letter-spacing: -2.24px;
  line-height: 56px;
  position: relative;
  text-align: center;
}

.x320 .frame-66 {
  align-items: center;
  align-self: stretch;
  background-color: var(--river-bed);
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 187px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.x320 .group-53 {
  background-color: var(--purple-heart);
  border-radius: 36px;
  height: 72px;
  position: relative;
  width: 72px;
}

.x320 .polygon-1 {
  height: 33px;
  left: 27px;
  position: absolute;
  top: 20px;
  width: 28px;
}

.x320 .frame-42 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 100%;
}

.x320 .frame-40-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .una-oportunidad-en-formacin {
  align-self: stretch;
  color: var(--purple-heart);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .centro-de-movilidad-social {
  align-self: stretch;
  letter-spacing: -2.24px;
  line-height: 40px;
  position: relative;
  text-align: center;
}

.x320 .frame-65 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 65px;
  justify-content: center;
  margin-left: -20.00px;
  margin-right: -20.00px;
  position: relative;
  width: 320px;
}

.x320 .frame-54 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 310px;
}

.x320 .frame-41-1 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--purple-heart);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 273px;
  justify-content: flex-end;
  padding: 18px 30px;
  position: relative;
  width: 100%;
}

.x320 .span-1 {
  letter-spacing: -0.28px;
}

.x320 .frame-14-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--oyster-bay);
  border-radius: 30px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 47px 25px;
  position: relative;
  width: 100%;
}

.x320 .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 602px;
  width: 270px;
}

.x320 .formacin-en-programacin-al-trmino-de {
  height: 100px;
  letter-spacing: -1.00px;
  line-height: 32px;
  margin-left: 2.56px;
  width: 256px;
}

.x320 .address {
  align-self: flex-start;
  height: 66px;
  letter-spacing: -1.00px;
  line-height: 32px;
  margin-left: 8.26px;
  margin-top: 7px;
  width: 168px;
}

.x320 .group-52 {
  background-image: url(../img/rectangle-5-4@2x.png);
  background-size: 100% 100%;
  height: 318px;
  margin-top: 16px;
  width: 270px;
}

.x320 .de-una-manera-intensiva-y-presencial {
  height: 79px;
  letter-spacing: -1.00px;
  line-height: 32px;
  margin-left: 8.32px;
  margin-top: 16px;
  width: 262px;
}

.x320 .span-2 {
  letter-spacing: -0.30px;
}

.x320 .frame-54-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 38px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .frame-55-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  position: relative;
  width: 310px;
}

.x320 .frame-43 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .frame-47 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 640px;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
  width: 300px;
}

.x320 .group-43 {
  background-image: url(../img/rectangle-5-5@2x.png);
  background-size: 100% 100%;
  height: 282.08px;
  position: relative;
  width: 260px;
}

.x320 .movilidad-social {
  align-self: stretch;
  letter-spacing: -1.00px;
  line-height: 30px;
  position: relative;
  text-align: right;
}

.x320 .bsqueda-de-trabajo {
  align-self: stretch;
  color: var(--elevate-templateframerwebsitetwilight-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: -1.00px;
  line-height: 25px;
  position: relative;
  text-align: right;
}

.x320 .frame-63 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 24px 20px;
  position: relative;
  width: 100%;
}

.x320 .nete-a-la-generaci {
  align-self: stretch;
  color: var(--shark);
  font-family: var(--font-family-poppins);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1.00px;
  line-height: 25px;
  position: relative;
  text-align: center;
}

.x320 .link-6 {
  align-items: center;
  align-self: stretch;
  background-color: var(--purple-heart);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 58px;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
  width: 100%;
}

.x320 .background-1 {
  background-color: var(--purple-heart);
  gap: 26px;
  padding: 100px 20px 16px;
}

.x320 .container-18 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .container-19 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .container-20 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .heading-1-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x320 .contacta-con-nuestros-expertos {
  align-self: stretch;
  color: var(--elevate-templateframerwebsitetwilight-blue);
  font-family: var(--font-family-poppins);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2.00px;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .container-21 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .container-22 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x320 .estamos-listos-para {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .link-7 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsiteblack);
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  gap: 11px;
  height: 72px;
  justify-content: center;
  padding: 32px;
  position: relative;
}

.x320 .container-23 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -10.00px;
  margin-top: -10.00px;
  position: relative;
}

.x320 .container-24 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .container-item {
  letter-spacing: -0.72px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x320 .container-25 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 19.4px 0px 20px;
  position: relative;
  width: 100%;
}

.x320 .container-26 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x320 .x2024-campuslands {
  flex: 1;
  letter-spacing: -0.64px;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x320 .horizontal-border {
  border-color: var(--elevate-templateframerwebsiteblack-10);
  border-top-style: solid;
  border-top-width: 1px;
  height: 117px;
  left: 0;
  position: absolute;
  top: 0;
  width: 280px;
}

.x320 .background-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x320 .capa_1-3 {
  height: 43px;
  position: relative;
}

.x320 .da-ads-3 {
  letter-spacing: -0.72px;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x320 .heading {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x320 .marketplace-2 {
  letter-spacing: -0.48px;
  line-height: 18px;
  text-align: center;
}

.x320 .soluciones {
  align-self: stretch;
  letter-spacing: -1.00px;
  line-height: 20px;
  position: relative;
  text-align: center;
}

.x320 .ventajas-y-caracter-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}
