/* screen - x600 */

.x600 {
  align-items: flex-start;
  display: flex;
  min-width: 600px;
}

.x600 .x600-1 {
  align-items: flex-end;
  display: flex;
  height: 13315px;
  overflow: hidden;
  width: 600px;
}

.x600 .campus-lands-landing-2024-desktop {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  display: flex;
  flex-direction: column;
  margin-bottom: -21.81px;
  min-height: 1200px;
  position: relative;
  width: 600px;
}

.x600 .container-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  max-width: 1920px;
  padding: 26px 10px;
  position: relative;
  width: 100%;
}

.x600 .link-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 17px;
  position: relative;
  width: 218px;
}

.x600 .logo_-campu-l_b-1 {
  align-self: stretch;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.x600 .container-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 40px;
  justify-content: flex-end;
  position: relative;
}

.x600 .group-54 {
  background-color: #d4eef2;
  border-radius: 10px;
  height: 49px;
  position: relative;
  width: 46px;
  z-index: 0;
}

.x600 .group-55 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 8px;
  min-height: 21px;
  position: relative;
  top: 14px;
  width: 31px;
}

.x600 .rectangle-1 {
  background-color: var(--gumbo);
  border-radius: 10px;
  height: 4px;
  width: 31px;
}

.x600 .link-2 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 16px 32px;
  position: relative;
  width: 167px;
  z-index: -1;
}

.x600 .frame-15 {
  align-self: stretch;
  height: 47px;
  position: relative;
  width: 100%;
}

.x600 .background {
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  flex: 0 0 auto;
  gap: 45px;
  padding: 30px 40px;
}

.x600 .container-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.x600 .container-4 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  justify-content: center;
  max-width: 2018px;
  padding: 10px 30px;
  position: relative;
}

.x600 .container-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .heading-1 {
  align-items: center;
  justify-content: center;
}

.x600 .convierte-tus-ideas {
  align-self: stretch;
  letter-spacing: -2.00px;
  line-height: 80px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .campus-lands-es-la-pu {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.3px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .container {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.x600 .container-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .overlay-shadow {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  border-radius: 40px;
  box-shadow: 0px 20px 84px -1.75px #2459ed21 , 0px 6.38px 26.81px -1.31px #2459ed17 , 0px 2.41px 10.14px -0.88px #2459ed14 , 0px 0.8px 3.34px -0.44px #2459ed12;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.x600 .x6zzldyo-w-pmd-g-ga-vo-cwqrx6-qdbywjpg {
  background-image: url(../img/6zzldyowpmdggavocwqrx6qdbyw-jpg-2.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
  height: 378px;
  margin-left: -116.00px;
  margin-right: -116.00px;
  position: relative;
  width: 752px;
}

.x600 .border {
  border: 1px solid;
  border-color: var(--elevate-templateframerwebsiteroyal-blue-10);
  border-radius: 40px;
  height: 1px;
  position: relative;
  width: 520px;
}

.x600 .frame-70 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 124.31px;
}

.x600 .frame-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  height: 62px;
  justify-content: center;
  position: relative;
}

.x600 .frame-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 188.11px;
}

.x600 .frame-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 89.34px;
}

.x600 .frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 47px;
  justify-content: center;
  position: relative;
}

.x600 .marketplace {
  letter-spacing: -0.48px;
  position: relative;
  width: 178px;
}

.x600 .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.x600 .container1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 100px 40px;
  position: relative;
  width: 100%;
}

.x600 .container-8 {
  align-items: center;
  align-self: stretch;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 277px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.x600 .container-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .container-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .heading {
  align-items: center;
}

.x600 .qu-ofrecemos {
  align-self: stretch;
  letter-spacing: -2.00px;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .convertimos-tus-visi {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.3px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .container-12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  position: relative;
  width: 158px;
}

.x600 .frame-13 {
  align-items: flex-start;
  align-self: stretch;
  background: linear-gradient(180deg, rgb(255, 254.97, 254.97) 0%, rgb(240, 253, 255) 100%);
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(206, 211, 255, 0), rgb(205.67, 210.85, 255)) 1;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 56px 66px;
  justify-content: center;
  padding: 47px 44px;
  position: relative;
  width: 100%;
}

.x600 .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/ellipse-1-15.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 26.2px 26px;
}

.x600 .overlap-group-1 {
  align-items: flex-start;
  background-image: url(../img/ellipse-1-16.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 28px 26px;
}

.x600 .overlap-group-2 {
  align-items: flex-start;
  background-image: url(../img/ellipse-1-17.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  margin-top: 6px;
  min-width: 127px;
  padding: 32px 33px;
}

.x600 .overlap-group-3 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/ellipse-1-18.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 32px 33px;
}

.x600 .overlap-group-4 {
  align-items: flex-start;
  align-self: center;
  background-image: url(../img/ellipse-1-19.svg);
  background-size: 100% 100%;
  display: flex;
  height: 127px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 127px;
  padding: 31px 33.4px;
}

.x600 .frame-30 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 45px;
  padding: 65px 10px;
  position: relative;
  width: 100%;
}

.x600 .full-service {
  align-self: stretch;
  letter-spacing: -2.00px;
  line-height: 56px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .frame-51 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.x600 .frame-13-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--twilight-blue);
  border-radius: 30px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 40px 0px;
  position: relative;
  width: 100%;
}

.x600 .frame-55 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  position: relative;
  width: 315px;
}

.x600 .group-51 {
  height: 661px;
  position: relative;
  width: 320px;
}

.x600 .overlap-group-container {
  height: 661px;
  position: relative;
}

.x600 .overlap-group-5 {
  align-items: flex-end;
  background-image: url(../img/rectangle-6.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 661px;
  justify-content: flex-end;
  left: 0;
  min-width: 320px;
  padding: 63px 21.5px;
  position: absolute;
  top: 0;
}

.x600 .entender-el-sueo-de-las-empresas {
  height: 96px;
  letter-spacing: -1.00px;
  line-height: 32px;
  width: 250px;
}

.x600 .overlap-group-6 {
  align-items: flex-end;
  background-image: url(../img/rectangle-6-10.svg);
  background-size: 100% 100%;
  display: flex;
  height: 661px;
  justify-content: flex-end;
  left: 0;
  min-width: 320px;
  padding: 63px 21.5px;
  position: absolute;
  top: 0;
}

.x600 .frame-67 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 274px;
}

.x600 .frame-53 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 349px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.x600 .group-26 {
  flex: 1;
  flex-grow: 1;
  height: 349px;
  margin-right: -2.00px;
  position: relative;
}

.x600 .overlap-group-7 {
  background-image: url(../img/rectangle-7-1@2x.png);
  background-size: 100% 100%;
  height: 349px;
  position: relative;
  width: 274px;
}

.x600 .rectangle-6 {
  height: 349px;
  left: 0;
  position: absolute;
  top: 0;
  width: 274px;
}

.x600 .adquirir-requerimien {
  height: 112px;
  left: 25px;
  letter-spacing: -1.00px;
  line-height: 28px;
  position: absolute;
  top: 200px;
  width: 225px;
}

.x600 .frame-52 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.x600 .group-27 {
  height: 278px;
  margin-right: -1.12px;
  position: relative;
  width: 274.25px;
}

.x600 .frame-57 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.x600 .frame-14 {
  align-items: center;
  align-self: stretch;
  background-color: var(--purple-heart);
  border-radius: 30px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 50px 0px;
  position: relative;
  width: 100%;
}

.x600 .frame-25 {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 115px;
  justify-content: space-between;
  position: relative;
  width: 361.83px;
}

.x600 .capa_1 {
  height: 43px;
  position: relative;
  width: 43.48px;
}

.x600 .flexibilidad-y-exper {
  letter-spacing: -1.00px;
  line-height: 21px;
  margin-top: -0.50px;
  position: relative;
  width: 303.35px;
}

.x600 .acceso-a-expertos-en {
  letter-spacing: 0;
  line-height: 22.3px;
  position: relative;
  width: 325.59px;
}

.x600 .frame-58 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 115px;
  justify-content: space-around;
  position: relative;
  width: 370.59px;
}

.x600 .capa_1-1 {
  height: 43px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 43px;
}

.x600 .expertos-en-transfor {
  align-self: flex-end;
  height: 42px;
  letter-spacing: -1.00px;
  line-height: 21px;
  margin-right: 4.0px;
  width: 306px;
}

.x600 .anlisis-profundo-de {
  height: 67px;
  letter-spacing: 0;
  line-height: 22.3px;
  margin-left: 0;
  width: 327px;
}

.x600 .frame-20 {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 123px;
  justify-content: space-between;
  position: relative;
  width: 361.83px;
}

.x600 .equipos-dedicados-pa {
  letter-spacing: -1.00px;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  width: 303.35px;
}

.x600 .equipo-adaptado-a-tu {
  letter-spacing: 0;
  line-height: 22.3px;
  position: relative;
  width: 339.75px;
}

.x600 .frame-23 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 13px 20px;
  position: relative;
  width: 364.02px;
}

.x600 .capa_1-2 {
  height: 43px;
  position: relative;
  width: 43.48px;
}

.x600 .plataformas-escalabl {
  letter-spacing: 0;
  line-height: 22.3px;
  position: relative;
  width: 364.02px;
}

.x600 .frame-21 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 12px 14px;
  position: relative;
  width: 397.23px;
}

.x600 .anlisis-detallado-d {
  letter-spacing: 0;
  line-height: 22.3px;
  position: relative;
  width: 322.56px;
}

.x600 .link-5 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 58px;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
  width: 360.98px;
}

.x600 .frame-41 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 86px;
  justify-content: center;
  padding: 105px 20px;
  position: relative;
  width: 100%;
}

.x600 .frame-40 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 89px;
  justify-content: space-between;
  position: relative;
  width: 552.58px;
}

.x600 .la-experiencia-habla-por-nosotros {
  letter-spacing: -0.36px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x600 .desarrollos-propios-1 {
  letter-spacing: -2.24px;
  line-height: 56px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x600 .frame-52-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 63px 63px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .frame-41-1 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitewhite);
  border: 4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(232, 232, 232)) 1;
  border-radius: 40px;
  height: 598px;
  justify-content: space-between;
  padding: 40px 46px;
  width: 494.52px;
}

.x600 .marketplace-1 {
  height: 18px;
  left: 0;
  letter-spacing: -0.64px;
  position: absolute;
  top: 0;
  width: 403px;
}

.x600 .solucin-tecnolgica {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
}

.x600 .ventajas-y-caracter {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
}

.x600 .container-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x600 .frame-42 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitewhite);
  border: 4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(232, 232, 232)) 1;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 598px;
  justify-content: space-between;
  padding: 40px 45px;
  position: relative;
  width: 494.52px;
}

.x600 .group-9 {
  align-items: flex-start;
  display: flex;
  min-width: 407px;
}

.x600 .e-commerce-1 {
  height: 18px;
  letter-spacing: -0.64px;
  line-height: 18px;
  text-align: center;
  width: 405px;
}

.x600 .container-14 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x600 .frame-43 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsitewhite);
  border: 4px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(232, 232, 232)) 1;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 598px;
  justify-content: space-between;
  padding: 30px 46px 39px;
  position: relative;
  width: 494.52px;
}

.x600 .group-12 {
  background-image: url(../img/taskman2-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 58.87px;
  position: relative;
  width: 244.66px;
}

.x600 .frame-61 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitetwilight-blue);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  padding: 40px 80px;
  position: relative;
  width: 100%;
}

.x600 .testimonios {
  letter-spacing: -2.24px;
  line-height: 56px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x600 .frame-66 {
  align-items: center;
  background-color: var(--river-bed);
  border-radius: 50px;
  display: flex;
  gap: 10px;
  height: 331px;
  justify-content: space-around;
  margin-left: -28.00px;
  margin-right: -28.00px;
  position: relative;
  width: 496px;
}

.x600 .group-53 {
  background-color: var(--purple-heart);
  border-radius: 60px;
  height: 120px;
  position: relative;
  width: 120px;
}

.x600 .polygon-1 {
  height: 55px;
  left: 44px;
  position: absolute;
  top: 33px;
  width: 47px;
}

.x600 .frame-42-1 {
  flex-direction: column;
  gap: 78px;
  padding: 105px 30px;
}

.x600 .una-oportunidad-en-formacin {
  align-self: stretch;
  letter-spacing: -0.36px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .centro-de-movilidad-social {
  align-self: stretch;
  letter-spacing: -2.24px;
  line-height: 56px;
  position: relative;
  text-align: center;
}

.x600 .frame-65 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 65px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .frame-54 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 310px;
}

.x600 .span-2 {
  letter-spacing: -0.28px;
}

.x600 .frame-14-1 {
  align-items: center;
  background-color: var(--oyster-bay);
  border-radius: 30px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 47px 25px;
  position: relative;
  width: 422px;
}

.x600 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 602px;
  width: 372px;
}

.x600 .formacin-en-programacin-al-trmino-de {
  align-self: center;
  height: 100px;
  letter-spacing: -1.00px;
  line-height: 32px;
  margin-left: 3.52px;
  width: 352px;
}

.x600 .address {
  height: 66px;
  letter-spacing: -1.00px;
  line-height: 32px;
  margin-left: 11.38px;
  margin-top: 7px;
  width: 232px;
}

.x600 .group-52 {
  background-image: url(../img/rectangle-5-6@2x.png);
  background-size: 100% 100%;
  height: 318px;
  margin-top: 16px;
  width: 372px;
}

.x600 .de-una-manera-intensiva-y-presencial {
  align-self: flex-end;
  height: 79px;
  letter-spacing: -1.00px;
  line-height: 32px;
  margin-right: 0;
  margin-top: 16px;
  width: 361px;
}

.x600 .frame-54-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 38px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .frame-55-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  position: relative;
  width: 310px;
}

.x600 .frame-47 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 30px;
  display: inline-flex;
  flex-direction: column;
  gap: 43px;
  height: 695.31px;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
}

.x600 .group-43 {
  background-image: url(../img/rectangle-5-3@2x.png);
  background-size: 100% 100%;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 287.54px;
}

.x600 .frame-63 {
  align-items: center;
  align-self: stretch;
  background-color: var(--elevate-templateframerwebsitewhite);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.x600 .nete-a-la-generaci {
  align-self: stretch;
  letter-spacing: -1.00px;
  line-height: 32px;
  position: relative;
  text-align: center;
}

.x600 .link-6 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 58px;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
  width: 357.37px;
}

.x600 .background-1 {
  background-color: var(--purple-heart);
  gap: 26px;
  height: 627.56px;
  justify-content: center;
  padding: 100px 40px 16px;
}

.x600 .container-16 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .container-17 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .container-18 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .contacta-con-nuestros-expertos {
  align-self: stretch;
  letter-spacing: -4.32px;
  line-height: 72px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x600 .container-19 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .container-20 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 389.75px 0px 389.73px;
  position: relative;
  width: 100%;
}

.x600 .estamos-listos-para {
  letter-spacing: 0;
  line-height: 22.3px;
  margin-left: -428.74px;
  margin-right: -428.74px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 598px;
}

.x600 .link-7 {
  align-items: center;
  background-color: var(--elevate-templateframerwebsiteblack);
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  gap: 11px;
  height: 72px;
  justify-content: center;
  padding: 32px;
  position: relative;
}

.x600 .container-21 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -10.00px;
  margin-top: -10.00px;
  position: relative;
}

.x600 .heading-2 {
  align-items: flex-start;
}

.x600 .container-22 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x600 .container-item {
  letter-spacing: -0.72px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x600 .container-23 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 19.4px 0px 20px;
  position: relative;
  width: 100%;
}

.x600 .container-24 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -648.00px;
  margin-right: -648.00px;
  position: relative;
  width: 1816px;
}

.x600 .container-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 639.03px 0px 639.02px;
  position: relative;
  width: 100%;
}

.x600 .x2024-campuslands {
  letter-spacing: -0.64px;
  line-height: 19.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 334px;
}

.x600 .horizontal-border {
  border-color: var(--elevate-templateframerwebsiteblack-10);
  border-top-style: solid;
  border-top-width: 1px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.x600 .background-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x600 .da-ads-3 {
  letter-spacing: -0.72px;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x600 .heading-3 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.x600 .marketplace-2 {
  line-height: 18px;
  text-align: center;
}

.x600 .soluciones {
  letter-spacing: -1.00px;
  line-height: 21px;
  margin-top: -0.50px;
  position: relative;
}
